build/
torch_remote.egg-info/
torch_remote/_C.cpython-313-darwin.so
torch_remote/_C.so
torch_remote/__pycache__/
torch_remote/backends/__pycache__/
torch_remote/backends/modal/__pycache__/
torch_remote_execution/__pycache__/
__pycache__/